header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #AB2727;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    img {
        width: 80px;
    }
}
