.container{
    display: flex;
    justify-content: flex;
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
        h1, p, aside{
            width: 50%;
        }
    }

    .game {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-right: 1rem;
        width: 170%;
    }
}